/*
!.gitignore
!wav_player.ioc
!Core/
Core/*

!Core/Inc/
Core/Inc/*
!Core/Inc/WAV.h
!Core/Inc/USB.h
!Core/Inc/CS43L22.h
!Core/Inc/main.h
!Core/Inc/LSM303DLHC.h
!Core/Inc/RECORDER.h
!Core/Inc/MP45DT02.h

!Core/Src/
Core/Src/*
!Core/Src/WAV.c
!Core/Src/USB.c
!Core/Src/CS43L22.c
!Core/Src/main.c
!Core/Src/LSM303DLHC.c
!Core/Src/RECORDER.c
!Core/Src/MP45DT02.c

!USB_HOST/
USB_HOST/*
!USB_HOST/App/
USB_HOST/App/*
!USB_HOST/App/usb_host.c
